*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
.container{
    /* width: 85%; */
    max-width: 1360px;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    /* margin: 16px 120px; */
    align-items: center;
}
nav .menu{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
nav .menu li{
    list-style-type: none;
}
nav .menu a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}
.btn{
    background-color: #30B868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}
#banner{
    background-image: url(assets/hero-bg.png);
    width: 100%;
    height: 85vh;
    max-width: 1600px;
    /* color: #001931;
    opacity: 80%; */
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-content{
    padding-top: 116px;
}
.banner-content h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    max-width: 770px;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    margin-top: 16px;
}
.banner-content h1 span{
   color: #30B868;
}
.banner-content p{
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    max-width: 1360px;
    text-align: center;
    margin: 16px auto;
    color: #ffffff;
}
.banner-btn{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}
.banner-sec-btn{
    position: relative;
    display: flex;
    justify-content: center;
}
.secondery-btn{
    background-color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    cursor: pointer;
}
.btn-white-border{
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}
svg{
    vertical-align: middle;
}

#service{
    margin: 0 auto;
}
/* .service-container{
    width: 85%;
    max-width: 1360px;
    margin: auto;
} */
.service-headline{
    margin: 0 auto;
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    text-align: center;
    padding-top: 36px;
}
.service-paragraph{
    /* max-width: 1360px; */
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    text-align: center;
    line-height: 20px;
    margin-top: 16px;
}
.service-box{
    /* width: 85%; */
    /* max-width: 1360px; */
    /* margin: 0 120px; */
    display: flex;
    justify-content: space-around;
    padding-top: 44px;
    gap: 24px;
}
.service-card{
    padding: 70px 24px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* vertical-align: middle; */
    box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.06);
    gap: 16px;
}
.card-title{
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    color: #001931;
}
.card-text{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}
#solution{
    padding: 120px;
    background-color: #ffffff;
}
.section-img{
    width: 600px;
    height: 600px;
}
