*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
.container{
    /* width: 85%; */
    max-width: 1360px;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    /* margin: 16px 120px; */
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
nav .menu{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
nav .menu li{
    list-style-type: none;
}
nav .menu a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}
.btn{
    background-color: #30B868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}
.btn:hover{
    background-color: #469165;
}
#banner{
    background-image: url(assets/hero-bg.png);
    width: 100%;
    height: 85vh;
    max-width: 1600px;
    /* color: #001931;
    opacity: 80%; */
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-content{
    padding-top: 116px;
}
.banner-content h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    max-width: 770px;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    margin-top: 16px;
}
.banner-content h1 span{
   color: #30B868;
}
.banner-content p{
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    max-width: 1360px;
    text-align: center;
    margin: 16px auto;
    color: #ffffff;
}
.banner-btn{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}
.banner-sec-btn{
    position: relative;
    display: flex;
    justify-content: center;
}
.secondery-btn{
    background-color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    gap: 6px;
}
.btn-white-border{
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}
svg{
    vertical-align: middle;
}

#service{
    margin: 0 auto;
}
/* .service-container{
    width: 85%;
    max-width: 1360px;
    margin: auto;
} */
.service-headline{
    margin: 0 auto;
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    text-align: center;
    padding-top: 36px;
}
.service-paragraph{
    /* max-width: 1360px; */
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    text-align: center;
    line-height: 20px;
    margin-top: 16px;
}
.service-box{
    /* width: 85%; */
    /* max-width: 1360px; */
    /* margin: 0 120px; */
    display: flex;
    justify-content: space-around;
    padding-top: 44px;
    gap: 24px;
}
.service-card{
    padding: 70px 24px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* vertical-align: middle; */
    box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.06);
    gap: 16px;
}
.card-title{
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    color: #001931;
}
.card-text{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}
#solution{
    padding: 120px;
    background-color: #ffffff;
}
.section-img{
    width: 600px;
    height: 600px;
}
.section-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.section-right{
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}
.section-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}
.solution-subtitle{
    font-size: 16px;
    /* font-weight: 600; medium */
    font-weight: 500;
    color: #469165;
}
.solution-title{
    font-size: 48px;
    /* font-weight: 600; medium */
    font-weight: 800;
    color: #001931;
}
.solution-para{
    font-size: 16px;
    /* font-weight: 600; medium */
    font-weight: 400;
    color: #627382;
    line-height: 20px;
    text-align: justify;
}
.list-item{
    list-style-type: none;
}
.inlinee{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 6px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}
#action{
    margin: 0px 120px 120px 120px;
    background-color: #ffffff;
}
.background-content{
    background-color: #F7F6F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 80px 40px;
    border-radius: 12px;
}
.action-head{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
}
.action-title{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    text-align: center;
}
.action-para{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    text-align: center;
}
.action-button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.logo-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright{
   font-size: 16px;
   color: #ffffff;
   line-height: 24px;
   text-align: center;
   font-weight: 400;
}
footer{
    margin: 120px 0px 0px 0px;
    background-color: #001931;
}
.foot-content{
    padding: 120px 0px 30px 0px;

}
.social-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    padding-right: 107px;
}
hr{
    border-width: 1px;
    margin-bottom: 30px;
    margin-top: 80px;
    color: #ffffff;
    opacity: 20%;
}
.social-icon h6{
    color: #ffffff;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}
i{
    color: #ffffff;
}